<!DOCTYPE html>
<html>
    <head>
        <title>About page</title>
         <link rel="stylesheet" href="/css/styles.css">
         <link rel="icon" href="img/thumbnail.png">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img src = "img/about-Pic.jpg">
            <p>This app is created by Parvinder Singh.<br>
                This app provides  te weather data of a region of users choice.<br>
                It uses weatherstack and positionstack apis to fetch all the information.<br>
                (This is a test project by a beginer.)
                </p>
        </div>
        
        {{>footer}}
    </body>
</html>