<!DOCTYPE html>
<html>
    <head>
        <title>Help page</title>
         <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
             {{>header}}
            <p>{{details}}</p>
        </div>
        {{>footer}}
    </body>
</html>