<!DOCTYPE html>
<html>
    <head>
        <title>home page</title>
        <link rel="stylesheet" href="/css/styles.css">
        <script src="/js/app.js" defer></script>
    </head>
    <body>
        <div class="main-content">
             {{>header}}
            <h1>WELCOME</h1>

            <form >
                <input type = "text" id = "input" placeholder="location">
                <button id ='button'>click</button>
            </form>
        </div>
        <div id="dataDiv">

        </div>
        
        {{>footer}}
    </body>
</html>